<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 無序列表-->
    <ul>
        <!-- 跑N次li，將每個stocks的內容帶入-->
        {% for stock in stocks %}
        <li>
            <!-- 帶入key顯示value-->
            {{stock['分類']}}-{{stock['指數']}}
        </li>
        <!-- 寫完必須end-->
        {% endfor %}
    </ul>

    <!--   顯示效果 
         ● 日經指數-22,920.30
         ● 韓國綜合-2,304.59
         ● 香港恆生-25,083.71
         ● 上海綜合-3,380.68 -->

</body>

</html>